asn1crypto==0.24.0
attrs==19.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
Cython==0.28.5
DAWG-Python==0.7.2
deeppavlov==0.3.1
docopt==0.6.2
flasgger==0.9.1
Flask==1.0.2
Flask-Cors==3.0.6
fuzzywuzzy==0.16.0
h5py==2.8.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
MarkupSafe==1.1.1
mistune==0.8.4
nltk==3.2.5
numpy==1.14.5
overrides==1.9
pandas==0.23.1
pycparser==2.19
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
pyOpenSSL==18.0.0
pyrsistent==0.15.2
pyTelegramBotAPI==3.5.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
requests==2.19.1
rusenttokenize==0.0.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.12.0
tqdm==4.23.4
urllib3==1.23
virtualenv==16.4.3
Werkzeug==0.15.4
